span {
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}
header{
	position:fixed;
	text-align: right;
	right: 0;
}
body {
	width:100%;
}
#piggy {
	width:200px;
	position: fixed;
	top: 350px;
	left: 400px;
}
#home img, #table, #sidewalk {
	height: 600px;
}
#beef {
	position: relative;
	top: -228px;
	left: -400px;
	width: 100px;
	height: 87px;
}
#bubble {
	position: relative;
	top: -300px;
	left:  -300px;
	width: 250px;
}
#words {
	position: relative;
	top: -594px;
	left: 408px;
    width: 200px;
    font-size: 60px;
    line-height: 0.9;
}
